{% extends '::base.html.twig' %}

{% block body -%}
    <h1>WebService</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Web service name</th>
                <td>{{ entity.nameWS }}</td>
            </tr>
            <tr>
                <th>Web service link</th>
                <td>{{ entity.linkWS }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('webservice') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('webservice_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
